<hgroup>
  <div id="headertext">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <a href="mailto://buddhamagnet@gmail.com"><img src="/images/email.png" alt="get in touch" class="icon" /></a>
  <a href="http://twitter.com/buddhamagnet"><img src="/images/twitter.png" alt="140" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://github.com/buddhamagnet"><img src="/images/github.png" alt="git me up" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://diasporauk.com"><img src="/images/diaspora_d_32.png" alt="our very own pod" class="icon" style="margin-top: 15px;"/></a>
  <a href="https://foursquare.com/user/672637"><img src="/images/foursquare.png" alt="geo" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://uk.linkedin.com/in/dgoodchild"><img src="/images/linkedin.png" alt="work stuff" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://soundcloud.com/buddhamagnet"><img src="/images/soundcloud.png" alt="audio" class="icon" style="margin-top: 15px;"/></a>  
  <a href="http://identi.ca/buddhamagnet"><img src="/images/identi.png" alt="fall back! fal back!" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://stackoverflow.com/users/451914/buddhamagnet"><img src="/images/stackoverflow.png" alt="code school" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://vimeo.com/user334655/videos"><img src="/images/vimeo.png" alt="video" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://youtube.com/buddhamagnet"><img src="/images/youtube.png" alt="more video" class="icon" style="margin-top: 15px;"/></a>
  <a href="http://delicious.com/buddhamagnet"><img src="/images/delicious.png" alt="marks and books" class="icon" style="margin-top: 15px;"/></a>
  </div>
  <img src="/images/shaman.jpg" alt="shaman in wool" class="fr" />
</hgroup>
