<ul role=main-navigation>
  <li><a href="/about">About Me</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><object height="136" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1182475"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="136" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1182475" type="application/x-shockwave-flash" width="100%"></embed> </object>  <span><a href="http://soundcloud.com/buddhamagnet/sets/mucksack">kaleidosonic</a></span></li>
</ul>
